{{ define "content" }}

{{ $name := .Table.Name }}
{{ $primaryKey := .Table.PrimaryKey }}
{{ $columns := .Table.Columns }}
{{ $data := .Table.Data }}
{{ $item := index $data 0 }}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11">
            <h1>Edit: {{ $name }}</h1> 
        </div>
        <div class="col-sm-1">
            <a class="btn btn-secondary" href="/padmin/list/{{ $name }}">List</a>
        </div>                 
    </div>
    <form action="/padmin/edit/{{ $name }}/{{ index $item $primaryKey }}" method="POST">
        {{ range $columns }}
            <div class="form-group row">
                <label for="{{ .Name }}" class="col-sm-2 col-form-label col-form-label-sm">{{ .Label }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="{{ .Name }}" name="{{ .Name }}" value="{{ index $item .Name }}">
                </div>
            </div>
        {{ end }}
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
        </div>
    </form>
</div>

{{ end }}